<html>
<head>
    <title>Zoom Admin Manager</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/pure-min.css"
        integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/grids-responsive-min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div id="app" class="pure-g">
        <div class="pure-u-1-5"></div>
        <div class="pure-u-1 pure-u-md-1-2" style="padding: 20px">
            <template v-if="route == 'meetings'">
                <div id="meetings">
                    <h2>Доступные встречи</h2>
                    <table class="pure-table">
                        <thead>
                            <tr>
                                <template v-for="header in table_headers">
                                    <th>{{header.title}}</th>
                                </template>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="meeting in meetings">
                                <template v-for="header in table_headers">
                                    <template v-if="header.name == 'name'">
                                        <td><a v-on:click="on_logs(meeting.scheduled_meetings)" href="#">{{meeting[header.name]}}</a></td>
                                    </template>
                                    <template v-else>
                                        <td>{{meeting[header.name]}}</td>
                                    </template>
                                </template>
                                <td v-on:click="on_delete_meeting(meeting.zoom_id)"><button class="pure-button pure-button-primary">Удалить</button></td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <template v-for="header in table_headers">
                                    <td>-</td>
                                </template>
                                <td><a class="pure-button pure-button-primary" href="?route=create">Добавить</a></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </template>

            <template v-if="route == 'create'">
                <div id="meetings">
                    <h2>Добавить встречу</h2>
                    <form class="pure-form" id="meeting_form">
                        <table class="pure-table">
                            <thead>
                                <tr>
                                    <th>Параметр</th>
                                    <th>Значение</th>
                                </tr>
                            </thead>
                            <tbody>
                                <template v-for="header in table_headers">
                                    <tr>
                                        <td>{{header.title}}</td>
                                        <td><input v-bind:type="header.type" v-bind:name="header.name"></input></td>
                                    </tr>
                                </template>
                            </tbody>
                        </table>
                    <br>
                    <a class="pure-button pure-button-primary" v-on:click="on_create_meeting">Добавить</a>
                    <a class="pure-button pure-button-primary" href="?route=meetings" id="btn_back">Назад</a>
                    </form>
                </div>
            </template>
        </div>
    </div>

    <script>
        new Vue({
            el: "#app",
            data() {
                return {
                    table_headers: [
                        {'title': 'ID встречи', 'name': 'zoom_id', 'type': 'number'},
                        {'title': 'Название', 'name': 'name', 'type': 'text'},
                        {'title': 'Дата начала', 'name': 'start_time', 'type': 'datetime-local'},
                        {'title': 'Интервал', 'name': 'interval_days', 'type': 'number'},
                        {'title': 'Хост', 'name': 'host', 'type': 'text'},
                        //{'title': 'Активна ли?', 'name': 'is_active', 'type': 'checkbox'},
                        {'title': 'Логин', 'name': 'login', 'type': 'text'},
                        {'title': 'Пароль', 'name': 'password', 'type': 'text'},
                    ],
                    API_URL: 'http://45.132.18.75:7667',
                    meetings: [],
                    urlParams: {},
                    route: '',
                };
            },
            async created() {
                const urlParams = new URLSearchParams(window.location.search);
                this.route = urlParams.get('route') || 'meetings';

                const resp = await fetch(`${this.API_URL}/api/v1/meeting_config`);
                if (resp.status == 200) {
                    const meetings = await resp.json();
                    this.meetings = meetings;
                }
            },
            methods: {
                on_delete_meeting: async function(meeting_id) {
                    let resp = await fetch(`${this.API_URL}/api/v1/meeting_config/${meeting_id}`, {
                        'method': 'DELETE',
                        'headers': {
                            'Accept': 'application/json',
                        },
                    });
                    await resp.text();
                    window.location.reload();
                },
                on_create_meeting: async function() {
                    const formData = new FormData(document.querySelector('#meeting_form'));
                    var object = {};

                    for(var [key, value] of formData.entries()){
                        if (!value) {
                            alert(`Заполните поле ${key}`);
                            return null;
                        }
                        object[key] = value;
                    }

                    // XXX: Cast some fields to propper types
                    object['is_active'] = (object['is_active'] === 'on');
                    object['interval_days'] = +object['interval_days'];

                    await fetch(`${this.API_URL}/api/v1/meeting_config`, {
                        'method': 'POST',
                        'headers': {
                            'Content-Type': 'application/json',
                        },
                        'body': JSON.stringify(object),
                    });
                    document.querySelector('#btn_back').click();
                },
                on_logs: async function(text) {
                    alert(JSON.stringify(text, null, 2));
                },
            },
        })
    </script>

    <style>
        td, th {
            text-align: center;
        }
    </style>
</body>

</html>